


<footer class="text-center text-white" style="background-color: #1287ee;">

  <!-- Grid container -->

  <div class="container p-4">

    <!-- Section: Iframe -->

    <section class="">

      <div class="row d-flex justify-content-center">

        <div class="col-lg-7">

          <div class="ratio ratio-16x9">

            <iframe

              class="shadow-1-strong rounded"

              src="https://www.youtube.com/embed/7egUec9i8gc"

              title="YouTube video"

              allowfullscreen

            ></iframe>

          </div>

        </div>

      </div>

    </section>

    <!-- Section: Iframe -->

  </div>

  <!-- Grid container -->



  <!-- Copyright -->

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">



    <span class="copyright">&copy; Copyright GROUP8 - NOV 2021 - Made with &hearts; in MUMBAI by GROUP8</span>

  </div>

  <!-- Copyright -->

</footer>





















<!-- Footer -->
<!-- <footer class="page-footer font-small  unique-color-dark pt-4"> -->

  <!-- Footer Elements -->
  <!-- <div class="container"> -->

    <!-- Call to action -->
    <!-- <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-outline-white btn-rounded">Sign up!</a>
      </li>
    </ul> -->
    <!-- Call to action -->

  <!-- </div> -->
  <!-- Footer Elements -->

  <!-- Copyright -->
  <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div> -->
  <!-- Copyright -->

<!-- </footer> -->
<!-- Footer -->
