
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="editProductForm"  (ngSubmit)="updateProduct()" novalidate >
      <h1>Update Product </h1>

      <fieldset>
        <label for="name">Product Id:</label>
        <input type="number" id="id" required formControlName="pid" name="user_name"/>

        <label for="name">Product Name:</label>
        <input type="text" id="name" required formControlName="productname" name="user_name"/>


        <label for="product-url">Product Img URL:</label>
        <input type="url" id="url"  formControlName="imgurl" name="product_url" required/>


        <label for="product-desc">Product Description:</label>
        <input type="text" id="product-desc"  formControlName="productdesc" name="product-desc"required/>

          <div class="controls">
    <label class="fa fa-sort">Category</label>
    <select class="floatLabel" formControlName="categoryname" required>
      <option value="0">--Select--</option>
      <option  *ngFor="let category of categories"  value={{category.catname}}>
  <!-- {{category.catid}} -->
  {{category.catname}}
</option>
    </select>
     <label for="cat-id">Catgory Id:</label>
    <input type="number" id="id" name="catid" formControlName="catid" />

    <label for="cat-id">Quantity</label>
    <input type="number" id="id" name="catid"  formControlName="quantity" required/>

             <label for="product-id">Product Price:</label>
        <input type="number" id="price" name="product_price"  formControlName="price" required/>



            <label for="name">Manufacturer Name:</label>
        <input type="text" id="name" required formControlName="mfgname" name="manu_name" required/>

  </div>
  <button type="submit">Update</button>
  <!-- <button type="submit">update</button>
  <button type="submit">Delete</button> -->
      </fieldset>

    </form>





      </div>
    </div>

